/* Variables */
:root {
    --main-color: #19c8fa;
    --transperent-color: rgb(15 116 143 / 70%);
    --sub-text-color: #777;
    --section-padding: 100px;
}

/* Variables */

/* Global rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    /* background-color: black; */
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    /* How to prevent white space "bounce" after scrolling to the top of the page and the bottom */
    -webkit-overscroll-behavior: none;
    -moz-overscroll-behavior: none;
    -o-overscroll-behavior: none;
    overscroll-behavior: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* adapt the width with different screen for container */
/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Global rules */

/* Component create */

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 1.6;
    color: var(--sub-text-color, #777);
}

/* Component create */

/* Header CSS */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    perspective: 300px;
    perspective-origin: center center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::before {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    left: 15px;
    background-color: #a2a2a2;
}

header .container .logo img {
    width: 60px;
}

header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
    cursor: pointer;
}

header .container nav .toggle-menu:hover {
    color: var(--main-color, lightblue);
}

.hide-menuBar {
    display: none;
}

.pop-animation {
    animation: pop 0.2s 1 linear;
}

@keyframes pop {
    from {
         transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }
    header .container nav .close-menu {
        display: none;
    }
}

header .container nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header .container nav ul {
        display: none;
    }

    /* header .container nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    } */

    header .container nav ul li a {
        padding: 15px !important;
    } 
}

.show-navList {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .fix-listItem {
    padding: 15px !important;
} */

header .container nav ul a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 3;
}

header .container nav ul a.active,
header .container nav ul a:hover {
    color: var(--main-color, lightblue);
    border-bottom: 1px solid var(--main-color, lightblue);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 40px;
    border-left: 1px solid white;
}

header nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

header nav .form i:hover {
    color: var(--main-color, lightblue);
}

header .search-page {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    top: 120px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: search 0.4s 1 forwards alternate;
    transition: opacity 0.3s;
    z-index: -1;
}

@keyframes search {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.searchRemove {
    opacity: 0;
}

header .search-page::after {
    content: '';
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.2) transparent;
    top: -40px;
    right: 20px;
}

header .search-page {
    width: 100%;
}

header .search-page form {
    display: flex;
    position: relative;
    width: calc(100% - 50px);
    margin: 0 auto;
}

header .search-page form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

header .search-page form input[type="text"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color, lightblue);
    width: calc(100% - 130px);
    color: white;
}

header .search-page form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color, lightblue);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    cursor: pointer;
}

header .search-page form input[type="submit"]:hover {
    background-color: white;
    color: var(--main-color, lightblue);
}

header .search-page form input[type="text"]:focus,
header .search-page form input[type="submit"]:focus {
    outline: none;
}

/* Header CSS */

/* Landing */

.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transperent-color, rgb(128 128 128 / 70%));
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 1.6;
}

.landing .change-BG {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width: 767px) {
    .landing .change-BG {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

/* .landing .bullets ul {
    display: flex;
} */

.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 5px;
}

.landing .bullets li.active {
    background-color: var(--main-color, lightblue);
    border-color: var(--main-color, lightblue);
}

/* Landing */

/* Back to top */

.top-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    margin: 50px 10px;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 100;
}

.top-icon .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: hsl(200, 32%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-icon .circle:hover {
    background-color: hsl(200, 32%, 25%);
}

.top-icon .circle i {
    color: var(--main-color, lightblue);
    font-size: 20px;
    font-weight: bold;
}

/* Back to top */

/* Services CSS */

.services {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}

@media (min-width: 768px) {
    .services .container .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
}

.services .container .services-container .service-box {
    display: flex;
}

.services .container .services-container .service-box i {
    margin-right: 50px;
}

.services .container .services-container .service-box .service-text {
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .services .container .services-container .service-box {
        flex-direction: column;
        text-align: center;
        padding-bottom: 40px;
    }

    .services .container .services-container .service-box i {
        margin-right: 0px;
        margin-bottom: 30px;
    }
}

/* .services .container .services-container .service-box .service-text {
} */

.service-text h3 {
    margin-bottom: 30px;
    color: var(--main-color, lightblue);
}

.service-text p {
    line-height: 1.6;
    color: var(--sub-text-color);
}

/* Services CSS */

/* Design CSS */
.design {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    height: 600px;
    position: relative;
    background: url(../images/lights.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.design::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.design .image, 
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    height: 700px;
    position: relative;
    bottom: -150px;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transperent-color, rgb(128 128 128 / 70%));
}

.design .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li i{
    margin-right: 15px;
    position: relative;
    top: 2px;
}

/* Design CSS */

/* Portfolio Section */

.portfolio {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0px 10px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.portfolio .shuffle li {
    padding: 10px;
    cursor: pointer;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color, lightblue);
    color: white;
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
}

.portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .images-container .image-box {
    position: relative;
    overflow: hidden;
}

.box-animation {
    animation: appear 0.3s 1 linear forwards;
}

@keyframes appear {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

.portfolio .images-container .image-box:hover .caption {
    bottom: 0;
}

.portfolio .images-container .image-box:hover img {
    -webkit-transform: rotate(4deg) scale(1.2);
    -moz-transform: rotate(4deg) scale(1.2);
    -o-transform: rotate(4deg) scale(1.2);
    transform: rotate(4deg) scale(1.2);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
}
/* By using flex basis we can set the width for every box in the container */

@media (min-width: 768px) {
    .portfolio .images-container .image-box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .images-container .image-box {
        flex-basis: 25%;
    }
}

.portfolio .images-container .image-box img {
    max-width: 100%; /* to avoid img overflow the parent.*/
    transition: 0.3s;
}

.portfolio .images-container .image-box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}

.portfolio .images-container .image-box .caption h4 {
    margin-bottom: 10px;
}

.portfolio .images-container .image-box .caption p {
    color: var(--main-color, lightblue);
}


.portfolio .more {
    background-color: var(--main-color, lightblue);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
}
/* Portfolio Section */


/* About CSS */

.about {
    padding-top: var(--section-padding, 100px);
    overflow: hidden;
    text-align: center;
}

/* .about .container {
    background-color: #ddd;
    margin-bottom: -200px;
} */

.about img {
    max-width: 100%;
    position: relative;
    bottom: -240px;
    margin-top: -240px;
    /* Using margin-top with the same amount of bottom to avoid moving the img down and leaving unwanted space.*/
}

@media (max-width: 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* About CSS */

/* Statistics CSS */

.statistic {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    text-align: center;
    background: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
}

.statistic::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.statistic .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.statistic .container .static-box {
    color: white;
    padding: 50px;
    background-color: var(--transperent-color, rgb(128 128 128 / 70%));
}

@media (max-width: 767px) {
    .statistic .container .static-box {
        flex-basis: 100%;
    }
    .statistic .container .static-box:not(:last-child) {
        border-bottom: 1px solid #777;
    }
}

@media (min-width: 768px) {
    .statistic .container .static-box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .statistic .container .static-box {
        flex-basis: 25%;
    }
}

.statistic .container .static-box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.statistic .container .static-box .number {
    font-size: 45px;
    font-weight: bold;
    margin: 0 0 20px;
}

.statistic .container .static-box p {
    font-size: 14px;
}

/* Statistics CSS */

/* Skills CSS */

.skills {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}

.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    /* using CSS selector for direct child only */
    .skills .container > div {
        flex-basis: 45%;
    }
}

.skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.skills .container > div > p {
    color: var(--sub-text-color);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 60px;
}

.skills .testimonials {
    position: relative;
}

.skills .testimonials .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.skills .testimonials .content img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .skills .testimonials .content img {
        margin: 0 auto 20px;
    }
}

.skills .testimonials .content .text {
    line-height: 1.6;
    border-bottom: 1px solid #ccc;
}

.skills .testimonials .content .text p{
    color: var(--sub-text-color);
    text-align: right;
    font-size: 14px;
    margin-bottom: 20px;
}

.skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills .testimonials .bullets li{
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 5px;    
}

.skills .testimonials .bullets li.active{
    background-color: var(--main-color, lightblue);
    border-color: var(--main-color, lightblue);
}

/* .skills .our-skills {
    
} */

.skills .our-skills .skills-holder {
    margin-bottom: 40px;
}

.skills .our-skills .skills-holder h4{
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.skills .our-skills .skills-holder .skill-level {
    background-color: #dedadc;
    height: 30px;
}

.skills .our-skills .skills-holder .skill-level span {
    display: block;
    background-color: var(--main-color, lightblue);
    height: 100%;
    position: relative;
}

.skills .our-skills .skills-holder .skill-level span::before {
    position: absolute;
    content: attr(data-level);
    background-color: black;
    font-size: 14px;
    color: white;
    padding: 5px 0;
    width: 40px;
    text-align: center;
    right: -20px;
    top: -40px;
    border-radius: 2px;
}

.skills .our-skills .skills-holder .skill-level span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -8px;
    top: -15px;
}

/* Skills CSS */

/* Quote CSS */

.quote {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    background: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.quote .container {
    position: relative;
}

.quote .container q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

/* Quote CSS */


/* Pricing CSS */

.pricing {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
    transition: 0.3s;
}

.pricing .plans .plan:hover {
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.3);
}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color, lightblue);
    border-bottom: 1px solid var(--main-color, lightblue);
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: 600;
    position: relative;
}

.pricing .plans .plan .head span::before {
    content: '$';
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: 15px;
    left: -25px;
}

.pricing .plans .plan .head span::after {
    content: '/Mo';
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    bottom: 15px;
    right: -50px;    
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color, lightblue);
}

.pricing .plans .plan ul li {
    padding: 25px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: var(--main-color, lightblue);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pricing .plans .plan .foot a {
    display: block;
    padding: 20px 25px;
    margin: 30px auto;
    width: fit-content;
    text-decoration: none;
    border: 1px solid var(--main-color, lightblue);
    color: black;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.pricing .plans .plan .foot a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--main-color, lightblue);
    top: -100%;
    left: -100%;
    z-index: -1;
    transition: 0.5s;
}

.pricing .plans .plan .foot a:hover:after {
    top: 0;
    left: 0;
}

.pricing .contact-text {
    text-align: center;
    margin: 30px auto 20px;
    font-size: 20px;
    
}

.pricing .contact-link {
    display: block;
    padding: 20px 25px;
    margin: 30px auto;
    width: fit-content;
    text-decoration: none;
    background-color: var(--main-color, lightblue);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.pricing .contact-link:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Pricing CSS */

/* Subscribe CSS */

.subscribe {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
    background: url(../images/mail-bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    color: white;
}

.subscribe::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* @media (max-width: 991px) {
    .subscribe .container {
    }
} */

.subscribe form {
    display: flex;
    position: relative;
    width: 700px;
    max-width: 100%;
}

.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe .container form input[type="email"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color, lightblue);
    width: calc(100% - 130px);
    color: white;
}

.subscribe .container form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color, lightblue);
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    cursor: pointer;
}

.subscribe .container form input[type="submit"]:hover {
    background-color: white;
    color: var(--main-color, lightblue);
}

.subscribe .container form input[type="email"]:focus,
.subscribe .container form input[type="submit"]:focus {
    outline: none;
}

.subscribe .container form ::placeholder {
    color: white;
}

.subscribe .container p {
    line-height: 1.6;
    margin: 30px 0 0;
}

/* Subscribe CSS */

/* Contact CSS */

.contact {
    padding-top: var(--section-padding, 100px);
    padding-bottom: var(--section-padding, 100px);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
    -webkit-resize: none;
    -o-resize: none;
    resize: none;
}

.contact .content form input[type="submit"] {
    background-color: var(--main-color, lightblue);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto; /* used with flex to make the element to be on the right*/
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}

.contact .content form input[type="submit"]:hover {
    background-color: white;
    color: var(--main-color, lightblue);
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3),
    0 0 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3),
    0 0 7px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3),
    0 0 7px rgba(0, 0, 0, 0.3);
}

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}

.contact .content .info h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: var(--sub-text-color, #777);
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 85px;
}

@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 35px;
    }
}

.contact .content .info address {
    color: var(--sub-text-color, #777);
    line-height: 1.6;
}

@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 35px;
    }
}

/* Contact CSS */

/* Footer CSS */

footer {
    padding-top: calc(var(--section-padding, 100px) / 2);
    padding-bottom: calc(var(--section-padding, 100px) / 2);
    background: url(../images/footer-bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    color: white;
    text-align: center;
}

footer::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

footer .container {
    position: relative;
}

footer .container img {
    margin-bottom: 20px;
    width: 80px;
}

footer .container p:not(.copyRight) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}

footer .container .social-icons i {
    padding: 10px 15px;
    cursor: pointer;
}

footer .container .social-icons i:hover {
    color: var(--main-color, lightblue);
}

footer .container .copyRight {
    margin-top: 60px;
}

footer .container .copyRight span {
    font-weight: bold;
    color: var(--main-color, lightblue);
}

/* Footer CSS */